<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="7lg5wdYd7M_JbRkwQW_mrY4Os4vhBJZ8ItwumNybKRw" />
    {% if page.css_file %}
      <link rel = "stylesheet" href = "/assets/css/{{ page.css_file }}.css">
    {% endif %}
    <link rel = "stylesheet" href = "/assets/css/style.css">
    <script src = "/assets/js/jquery-3.6.0.min.js"></script>
    <script src = "/assets/js/main.js"></script>
    <title>
      {% if page.title == "Home" %}
        {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>
</head>

