.footer {
    height: 13%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
    z-index: 5;
    background-color: #000000;
    color:white;
    position: sticky;
    bottom: 0;
    flex-shrink: 0;
}

.footer-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    bottom: 80px;
    border: none;
    width: fit-content;
    position: relative;
    background-color: inherit;
}

.footer-links-bar {
    background-color: black;
    display: flex;
    width: fit-content;
    bottom: 80px;
    position: relative;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: inherit;
}

.footer-logo {
    height: 30px;
    width: 30px;
    background-color: black;
}

.footer-logo:hover {
    filter: brightness(50%);
    transition: filter .2s ease
}

.footer-link {
    margin-bottom: 5px;
    text-decoration: none;
    background-color: #000000;
}
