@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

* {
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.footer {
    display: none !important;
}

.main-body {
    justify-content: flex-start;
}

.about-profile-photo {
    border-radius: 50%;
    margin-left: 22px;
    width: 250px;
    border: 3px solid #40E0D0;
}


#about-me {
    cursor: default;
    text-align: left;
    height: fit-content;
    border-bottom: 5px solid black;
    margin-bottom: 30px;
    font-size: 50px;
    width: fit-content;
    color: white;
}

#about-me:hover {
    color: white;
    border-bottom: 5px solid white;
    transition: border-bottom .5s ease-out;
}

#about-profile-para {
    display: flex;
    min-width: 500px;
    padding-top: 30px;
    flex-flow: column wrap;
}
 
#about-profile-para > h3 {
    word-spacing: 2px;
    line-height: 45px;
    top: 60px;
}

#about-profile-block {
    display: flex;
    margin-right: 45px;
    height: calc(100vh - 50px);
    width: 300px;
    flex-flow: column nowrap;
    background-color: black !important;
}

#about-profile-block * {
    background-color: black !important;
}


#about-profile-block h2 {
    font-weight: 300;
    width: 300px;
    text-align: center;
}

#about-profile-block h2 + p {
    padding-top: 95px;
    text-indent: 120px;
    justify-content: space-between;
    width: inherit;
    display: flex;
    flex-flow: column nowrap;
}

#about-profile-block h2 + p * {
    padding-bottom: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: medium;
    text-decoration: none;
}

#about-profile-block a:hover {
    filter: brightness(50%);
    transition: filter .2s ease;
}

#about-profile-para a {
    text-decoration: none;
    color: #3BCEAC;
}

#about-profile-para a:hover {
    color: #EE4266;
    transition: color .2s ease;
}


.main-content{
    max-width: 100vw;
    flex-grow: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

#about-profile-images > p {
    display: flex;
    flex-flow: column nowrap;
}

#about-profile-images img {
    width: 30px;
    height: 30px;
}

#about-profile-contacts {
    padding-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#about-profile-links > p {
    display: flex;
    flex-flow: column nowrap;
}

#about-profile-images a {
    padding-block-end: 5px;
}

#about-profile-links a {
    padding-block-end: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: medium;
    text-decoration: none;
}

#find-me-here {
    padding-top: 10px;
}