.footer {
    display: flex;
    position: sticky;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
    z-index: 999;
    min-width: calc(300px + 545px);
    background-color: #000000;
    color:white;
    flex-shrink: 0;
    flex-basis: 13%;
    top: 250;
}

.footer-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: fit-content;
    position: relative;
    left: 73px;
    background-color: inherit;
}

.footer-links-bar {
    background-color: black;
    display: flex;
    width: fit-content !important;
    position: relative;
    left: 73px;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: inherit;
}

.footer-logo {
    height: 25px;
    width: 25px;
    background-color: black;
}

.footer-logo:hover {
    filter: brightness(50%);
    transition: filter .2s ease
}

.footer-link {
    margin-inline-end: 10px;
    text-decoration: none;
    background-color: #000000;
}